---
Language:        Cpp
BasedOnStyle:    LLVM
Standard:        Auto
TabWidth:        4
UseTab:          Never
ColumnLimit:     120
IndentWidth:     4
ContinuationIndentWidth: 8
AllowShortFunctionsOnASingleLine : false
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
AlwaysBreakBeforeMultilineStrings: true
MaxEmptyLinesToKeep: 2
AlwaysBreakAfterReturnType: All
IncludeBlocks: Preserve
SortIncludes: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
...
