#####
build*/
install*/
.depends_cache/
codegen/generated/
codegen/test/gsl/
codegen/test/include/
codegen/test/src/

#####
# OS X temporary files that should never be committed

.DS_Store
*.swp
*.lock
profile

#####
# CLion
.idea
cmake-build-*/
